*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Login{
  border: 1px solid black;
  margin: 100px auto 0px auto;
  width: 400px;
  padding: 20px;
}

.List{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input{
  border-radius: 2px;
}

button{
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
}